// Colours

// Theme colours
$blue: #00f;
$bluedull: #34495e; //485b66
$bluedark: #035;

// Greys
$white: #fff;
$greylightest: #f7f7f9;
$greylighter: #ebebed;
$greylight: #cccccc;
$grey: #999;
$black: #000;

.c-blue {
  color: $blue;
}

.c-white {
  color: $white;
}
.c-greylightest {
  color: $greylightest;
}
.c-greylight {
  color: $greylight;
}
.c-grey {
  color: $grey;
}

.bg-white {
  background-color: $white;
}
.bg-greylighter {
  background-color: $greylighter;
}
.bg-greylight {
  background-color: $greylight;
}
.bg-bluedull {
  background-color: $bluedull;
}
.bg-bluedark {
  background-color: $bluedark;
}