// Utilities
.u-mv2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.u-mt05 {
  margin-top: 0.5rem !important;
}
.u-mt1 {
  margin-top: 1rem !important;
}
.u-mt2 {
  margin-top: 2rem !important;
}
.u-mb025 {
  margin-bottom: 0.25rem !important;
}
.u-mb1 {
  margin-bottom: 1rem !important;
}
.u-mb2 {
  margin-bottom: 2rem !important;
}
.u-mr1 {
  margin-right: 1rem !important;
}


.u-pv5vh {
  padding-top: 5vh !important;
  padding-bottom: 5vh !important;
}
.u-pv10vh {
  padding-top: 10vh !important;
  padding-bottom: 10vh !important;
}
.u-pv1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.u-pv2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
.u-ph2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.u-pt1 {
  padding-top: 1rem !important;
}
.u-pt10vh {
  padding-top: 10vh !important;
}
.u-pt20vh {
  padding-top: 20vh !important;
}
.u-pt30vh {
  padding-top: 30vh !important;
}
.u-pb5vh {
  padding-bottom: 5vh !important;
}
.u-pb10vh {
  padding-bottom: 10vh !important;
}
.u-pr2 {
  padding-right: 2rem !important;
}

.u-maxwidth75p {
  max-width: 75%;
}

.u-aligncenter {
  text-align: center;
}
.u-alignright {
  text-align: right;
}

.u-block {
  display: block !important;
}
.u-hide {
  display: none !important;
}

.u-text-2x {
  font-size: 2rem !important;
}

body.isTouch .u-hide-for-touch {
  display: none important;
}

