// Utilities
.u-mv2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.u-mt1 {
  margin-top: 1rem !important;
}
.u-mt2 {
  margin-top: 2rem !important;
}
.u-mb1 {
  margin-bottom: 1rem !important;
}
.u-mb2 {
  margin-bottom: 2rem !important;
}
.u-mr1 {
  margin-right: 1rem !important;
}


.u-pv5vh {
  padding-top: 5vh !important;
  padding-bottom: 5vh !important;
}
.u-pv10vh {
  padding-top: 10vh !important;
  padding-bottom: 10vh !important;
}
.u-pt10vh {
  padding-top: 10vh !important;
}
.u-pt20vh {
  padding-top: 20vh !important;
}
.u-pt30vh {
  padding-top: 30vh !important;
}
.u-pb5vh {
  padding-bottom: 5vh !important;
}
.u-pb10vh {
  padding-bottom: 10vh !important;
}

.u-aligncenter {
  text-align: center;
}

.u-block {
  display: block !important;
}
.u-hide {
  display: none !important;
}
