[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "site/fields/markdown"]
	path = site/fields/markdown
	url = https://github.com/JonasDoebertin/kirby-visual-markdown.git
[submodule "site/fields/fieldtoggle"]
	path = site/fields/fieldtoggle
	url = https://github.com/medienbaecker/kirby-fieldtoggle.git
[submodule "site/plugins/relatedpages"]
	path = site/plugins/relatedpages
	url = https://github.com/Adspectus/RelatedPages.git
[submodule "site/plugins/version-widget"]
	path = site/plugins/version-widget
	url = https://github.com/omz13/kirby-cache-widgets.git
[submodule "site/plugins/uniform"]
	path = site/plugins/uniform
	url = https://github.com/mzur/kirby-uniform
