## System files
# ------------

Icon
.DS_Store
*/*/.lock

# Temporary files
# ---------------

/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license


# Other local files
# ---------------

node_modules
*.sublime-project
*.sublime-workspace
site/config/config.localhost.php
site/email.log


# 'Other' folder (_)
# ---------------

_
