# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

site/cache
/site/cache/*
!/site/cache/index.html


# Error logs (server)
# ------------

error_log
email.log


# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html
/site/config/config.ldaniel.eu.php


# Avatars
# ---------------

/assets/avatars/*
!/assets/avatars/index.html


# Dev files (local)
# ------------

Icon
.DS_Store
node_modules
*.sublime-project
*.sublime-workspace


# 'Other' folder (_)

_