.section--cv-intro {
    padding-top: 9rem;

    .hero {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        gap: 0.75rem;

        @include tabletAndUp {
            margin-left: -9rem;
            gap: 1.5rem;
        }

        figure {
            width: 4rem;

            @include tabletAndUp {
                width: 7rem;
            }
        }
    }

    h1 {
        color: $text-day;
        font-size: 2rem;
        line-height: 100%;
        font-weight: normal;

        @include tabletAndUp {
            font-size: 6rem;
        }

        @include darkMode {
            color: $text-night;
        }
    }

    h2 {
        color: $grey-day;
        font-weight: normal;
        font-size: 1.125rem;

        @include tabletAndUp {
            font-size: 2.5rem;
        }
    }

    .tagline {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $blue;
    }

    .usps {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 4rem;
        gap: 1rem;

        @include tabletAndUp {
            flex-direction: row;
        }
    }

    .usp {
        display: flex;
        align-items: flex-start;
        gap: 0.75rem;

        @include tabletAndUp {
            flex-direction: column;
            gap: 1rem;
        }

        h4 { font-weight: 600; font-size: 1.5rem; }
        p {
            margin: 0;
            font-size: 1.25rem;
            line-height: 1.5rem;
            color: $grey-day;
        }
    }
}

.section--details {
    padding-top: 6rem;
    text-align: center;

    .page-nav-wrapper {
        text-align: center;
    }

    .page-nav {
        position: sticky;
        top: 1.5rem;
        z-index: 2;
        display: inline-flex;
        margin-bottom: 2rem;
        padding: 0.25rem;
        gap: 0.25rem;
        border-radius: 1.5rem;
        background: rgba($text-day, 0.03);
        @include prefix(backdrop-filter, blur(0.5rem));

        @include darkMode {
            background: rgba($text-night, 0.03);
        }
    }
    .page-nav-item {
        display: flex;
        font-size: 1.25rem;
        padding: 10px 1rem 6px;
        border-radius: 1.25rem;
        cursor: pointer;
        color: $grey;
        &:hover {
            color: $text-day;

            @include darkMode {
                color: $text-night;
            }
        }
        &.isActive {
            background: $bg-day;
            color: $text-day;
            font-weight: 600;

            @include darkMode {
                background: $bg-night;
                color: $text-night;
            }
        }
    }

    .experience-list {
        margin: 0 -1.25rem;

        @include tabletAndUp {
            margin: 0;
        }
    }

    .experience-item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 1.25rem 0;
        border-bottom: 1px solid $grey-subtle-day;
        text-align: left;
        overflow: hidden;

        @include darkMode {
            border-color: $grey-subtle-night;
        }

        @include tabletAndUp {
            margin-bottom: 1rem;
            padding: 1rem 1.5rem 0;
            border-radius: 1rem;
            border: 1px solid $grey-subtle-day;

            @include darkMode {
                border-color: $grey-subtle-night;
            }
        }

        @media (hover: hover) {
            &:not(.isActive):hover {
                border-color: $grey;
            }
        }
        &:not(.isActive):active {
            background: rgba($text-day, 0.03);
            background: rgba($blue, 0.03);
            border-color: $blue;

            @include darkMode {
                background: rgba($text-night, 0.03);
            }
        }

        .header {
            display: flex;
            align-items: center;
            margin: -1rem -1.5rem;
            padding: 1rem 1.5rem;
            cursor: pointer;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
        }

        .xp-image {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 2rem;
            max-height: 2rem;
            height: auto;
            margin-right: 0.5rem;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .title {
            flex: 0 1 100%;
            font-size: 1.25rem;
            line-height: 1.5rem;

            @include tabletAndUp {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }
            a {
                color: inherit;
                border-bottom: 1px solid currentColor;

                &:hover {
                    color: $blue;
                }
            }
        }
        .period {
            color: $grey-night;

            @include darkMode {
                color: $grey-day;
            }
        }
        .icon {
            display: flex;
            opacity: 0.25;
            transition: transform 0.7s cubic-bezier(0.23, 1, 0.320, 1);
        }
        &.isActive .icon {
            transform: rotate(180deg);
        }
        &:hover .icon {
            opacity: 1;
        }

        .content {
            // display: none;
            transition: max-height 0.7s cubic-bezier(0.23, 1, 0.320, 1), opacity 0.7s cubic-bezier(0.23, 1, 0.320, 1);;
            opacity: 0;
            max-height: 0;
        }
        &.isActive .content {
            // display: block;
            opacity: 1;
            max-height: 100vh;
        }
        .content p {
            color: $grey-day;
            line-height: 125%;

            @include darkMode {
                color: $grey-night;
            }
        }

        .content .project-list {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(12rem,1fr));
            grid-auto-flow: column;
            grid-auto-columns: minmax(12rem,1fr);
            gap: 1.25rem;
            margin: 0.5rem -1.25rem 1rem;
            padding: 1.25rem;
            color: $grey-day;
            overflow-x: scroll;

            @include darkMode {
                color: $grey-night;
            }
            @include tabletAndUp {
                grid-template-columns: 1fr 1fr 1fr;
                grid-auto-flow: initial;
                grid-auto-columns: initial;
                gap: 1.5rem;
                margin: 1.5rem 0;
                padding: 0;
            }
        }
    }

    #projects {
        display: grid;
        gap: 2rem;

        @include tabletAndUp {
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        }

        .project-item {
            display: flex;
            flex-direction: column;
            text-align: left;

            .project-image {
                margin-bottom: 1rem;
            }

            h4 {
                color: $grey;
                font-weight: 500;
            }
            p.description {
                margin: 0;
                font-size: 1.25rem;
                line-height: 120%;

                @include tabletAndUp {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .project-item {
        &--linked {
            color: $text-day;

            @include darkMode {
                color: $text-night;
            }

            &:hover {
                color: $blue;

                svg { opacity: 1; }
            }
            &:hover .project-image img {
                transform: scale(1.05);
            }
            h4 {
                font-weight: 600;
            }
        }
        h4 {
            display: flex;
            justify-content: space-between;

            svg {
                transform: rotate(-90deg);
                opacity: 0.25;
                width: 1rem;
            }
        }

        .project-image {
            margin-top: 0.5rem;
            border-radius: 0.75rem;
            overflow: hidden;

            img {
                display: block;
                transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }
    }


    .nav-content {
        // display: none;

        // &.isActive {
        //     display: block;

        //     &#projects {
        //         display: grid;
        //     }
        // }
    }
}

.section--education {
    p, h4 {
        font-size: 1.25rem;
        line-height: 2.5rem;

        @include tabletAndUp {
            font-size: 1.5rem;
            line-height: 3rem;
        }

        .period {
            color: $grey-night;

            @include darkMode {
                color: $grey-day;
            }
        }
    }
}