// Line
.line {
  display: inline-block;
  height: 6rem;
  margin: 0 3rem 1rem;
  border-left: 1px solid $blue;

  &.line--white {
    border-left-color: $white;
  }
  &.line--light {
    border-left-color: $grey-subtle-day;

    @include darkMode {
      border-left-color: $grey-subtle-night;
    }
  }
}

.line-wrapper {
  text-align: center;
  padding: 3rem 0 0;
}
