.logo {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  @include prefix(border-radius, 50%);
  font-size: 2rem;

  @include tabletAndUp {
    top: 1rem;
    left: 1.5rem;
  }
  
  svg path {
    fill: $text-day;
  
    @include darkMode {
      fill: $text-night;
    }
  }
  &:hover svg path {
    fill: url(#paint0_linear);
  }
}

