// Article
.list__article {
  display: block;
  margin-bottom: 1rem;
  color: inherit;

  h3 {
    font-family: $serif;
    font-size: 1.5rem;
    font-weight: normal;
    color: $blue;
  }
  .meta {
    margin-top: 0.25rem;
    color: $greylight; 
    font-size: 1rem;
  }
  p {
    margin-top: 0.5rem;
    font-family: $serif;
    font-size: 1rem;
    line-height: 1.8rem;
    opacity: 0.8;
  }
}
.article {

}
