// Card
.card-container {
  width: 100%;
  @include prefix(display, flex);
  @include prefix(flex-direction, row);
  overflow-x: auto;
}
.owl-stage-outer {
  padding: 0.5rem 0;
}
.card {
  display: inline-block;
  width: 20rem;
  min-width: 12rem;
  max-width: calc(100vw - 3rem);
  margin-right: 1rem;
  vertical-align: top;
  background-color: $white;
  overflow: hidden;
  color: rgba($bluedark, 0.4);

  &.card--words {
    min-width: 15rem;
    max-width: 20rem;
    max-width: calc(100vw - 3rem);
    padding: 1.5rem 1.5rem 1rem;

    .tweet {
      padding-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: $bluedark;

      @media screen and (max-width: $vp_smallest) {
        font-size: 1rem;
        line-height: 1.25rem;
      }
    }
    .timePosted, .interact {
      display: inline-block;
      font-size: 1rem;
      line-height: 1rem;

      a { color: rgba($bluedark, 0.4);
        &:hover { 
          color: $bluedark; 
        }
      }
    }
    .interact {
      float: right;

      a + a { margin-left: 0.5rem; }
    }
  }
  &.card--shadow {
    @include prefix(box-shadow, 0 0 1rem rgba($black, 0.1));
    @include prefix(border-radius, 0.25rem);
  }
  p {
    line-height: 1.25rem;
  }
  figure img {
    width: 100%;
  }
}


// Card Pagination
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.owl-dot {
  display: inline-block;
  padding: 0.25rem;

  span {
    display: inline-block;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    background-color: rgba($black, 0.1);
  }
  &.active span {
    background-color: $blue;
  }
}
