// Section
$sectionpadding: 1.5rem;

section {
  position: relative;
  padding: 0 $sectionpadding; // site-wide horizontal padding
  overflow: hidden;

  * {
    z-index: 1;
  }
  &.section--bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.section--bg2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;

    @media screen and (max-width: $vp_tablet - 1) {
      background-size: auto 400px;
      background-position: left bottom;
    }
  }
  .section__bg-image {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    display: block;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section__bg-homeintro {
    background-size: cover;
    background-position: right center;

    @media screen and (max-width: $vp_tablet - 1) {
      background-size: auto 400px;
      background-position: 60% top;
    }
  }

  &.section--homeintro {
    min-height: 100vh;
    @include prefix(transition, all 2s cubic-bezier(0.5,0,0.5,1));
    @include prefix(transition-delay, 1s);
  }
}
.isLoaded section.section--homeintro {
  min-height: 50vh;
}
.section-undo-p {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}