// Colours

// New Colour Set
$bg-day: #fffefc;
$grey-subtle-day: #D3DFE5;
$grey-day: #868197;
$text-day: #0D0533;
$bg-night: #110F1A;
$grey-subtle-night: #4D4B53;
$grey-night: #B8C5CC;
$text-night: #fffefc;

// Theme colours
$blue: #6547FE;
$bluedull: #34495e; //485b66
$bluedark: $text-day;

// Greys
$white: #fff;
$greylightest: $bg-day;
$greylighter: #ebebed;
$greylight: #ccccd4;
$grey: $grey-day;
$black: #000;

.c-blue {
  color: $blue;
}
.c-bluedull {
  color: $bluedull;
}
.c-bluedark {
  color: $text-day;

  @include darkMode {
    color: $text-night;
  }
}

.c-white {
  color: $white;
}
.c-greylightest {
  color: $greylightest;
}
.c-greylight {
  color: $greylight;
}
.c-grey {
  color: $grey;
}

.bg-white {
  background-color: $white;
}
.bg-greylighter {
  background-color: $greylighter;
}
.bg-greylight {
  background-color: $greylight;
}
.bg-blue, .bg-bluedull, .bg-bluedark {
  color: $white;

  a {
    color: inherit;
    font-weight: 600;
  }
}
.bg-blue {
  background-color: $blue;
}
.bg-bluedull {
  background-color: $bluedull;
}
.bg-bluedark {
  background-color: $bluedark;
}
.bg-blackfaded10 {
  background-color: rgba($black, 0.1);
}
