/* ------------

  LDANIEL.EU STYLESHEET

   ------------ */



/* --- CSS Resets --- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* --- Webfont includes --- */
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metanormal-roman-webfont.woff') format('woff'),
       url('../fonts/metanormal-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metanormal-italic-webfont.woff') format('woff'),
       url('../fonts/metanormal-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metabold-roman-webfont.woff') format('woff'),
       url('../fonts/metabold-roman-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metabold-italic-webfont.woff') format('woff'),
       url('../fonts/metabold-italic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



/* --- Global definitions --- */
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Meta', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #445;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}
::selection {
  background-color: rgba(0, 51, 85, 0.75);
  color: #fff;
}
a {
  color: #34c2d8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2ba0b3;
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
hr {
  border-bottom: 1px solid #ccc;
}
h2 {
  font-weight: normal;
}
h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #999;
  color: rgba(0, 0, 0, .4);
  font-weight: 300;
}
p {
  font-size: 1em;
  line-height: 1.8em;
}
p.meta {
  color: #99a;
}



/* --- Utility classes --- */
.u-alignleft {
  text-align: left;
}
.u-aligncenter {
  text-align: center;
}
.u-alignright {
  text-align: right;
}
.u-mt5 {
  margin-top: 5px;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mt30 {
  margin-top: 30px;
}
.u-mt40 {
  margin-top: 40px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb30 {
  margin-bottom: 30px;
}
.u-mb40 {
  margin-bottom: 40px;
}
.u-mr5 {
  margin-right: 5px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-mr30 {
  margin-right: 30px;
}
.u-mr40 {
  margin-right: 40px;
}
.u-mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.u-mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.u-mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.u-mv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.u-mv40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.u-pt5 {
  padding-top: 5px;
}
.u-pt10 {
  padding-top: 10px;
}
.u-pt20 {
  padding-top: 20px;
}
.u-pt30 {
  padding-top: 30px;
}
.u-pt40 {
  padding-top: 40px;
}
.u-pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.u-pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.u-pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.u-pv40 {
  padding-top: 40px;
  padding-bottom: 40px;
}



/* --- Buttons --- */
.btn {
  display: inline-block;
  padding: 10px 20px;
  line-height: 20px;
  font-size: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn.btn-lg {
  padding: 15px 30px;
  font-size: 1.2em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.btn-sm {
  padding: 5px 10px;
  font-size: 0.8em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn.btn-outline {
  background-color: transparent;
  border: 1px solid #34c2d8;
  color: #34c2d8;
}
.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background-color: #34c2d8;
  color: #fff;
}



/* --- Layout --- */
.row {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
main {
  background-color: #eee;
}
section {
  padding: 50px 0;
  background-position: center 30%;
  background-size: cover;
} 



/* --- Header --- */
header {
  line-height: 100px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}
header h6 {
  font-size: 0.8em;
  line-height: inherit;
  color: #ccc;
  font-weight: normal;
  text-transform: uppercase;
}
.home header {
  padding-top: 55px;
  padding-bottom: 55px;
}



/* --- Menu --- */
.menu li {
  list-style: none;
  display: inline-block;
  margin-left: -0.25em;
}
.menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  color: #9eafba;
  font-size: 0.9em;
}
.menu li:last-child a {
  padding-right: 0;
}
.menu li a:hover,
.menu li a:focus {
  color: #035;
}



/* --- Logo --- */
#logo {
  position: fixed;
  top: -30px;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-left: -75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;z-index: 3;
  line-height: 150px;
  text-align: center;
  font-size: 28px;
  color: #035;
  font-weight: 300;
  letter-spacing: -0.02em;
}
#logo:hover,
#logo:focus {
  color: #34c2d8;
}
#logo b {
  font-weight: 500;
}
#logo #logo-svg {
  position: absolute;
  top: 0;
  left: 0;
}
#logo .logo-svg-path {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
}
#logo:hover .logo-svg-path,
#logo:focus .logo-svg-path {
  stroke: #34c2d8;
}
#logo.animated .logo-svg-path {
  -webkit-animation: dash 2s ease-in-out;
  animation: dash 2s ease-in-out;
}
@keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}
@-webkit-keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}
.home #logo { 
  top: 30px; 
}



/* --- Home --- */
.home big {
  font-size: 1.55em;
}



/* --- Footer --- */
footer {
  padding: 50px 0;
  background-color: #666;
  color: #ccc;
}
