/* ------------

  LDANIEL.EU STYLESHEET

   ------------ */



/* --- CSS Resets --- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* --- Webfont includes --- */
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metanormal-roman-webfont.woff') format('woff'),
       url('../fonts/metanormal-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metanormal-italic-webfont.woff') format('woff'),
       url('../fonts/metanormal-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metabold-roman-webfont.woff') format('woff'),
       url('../fonts/metabold-roman-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Meta';
  src: url('../fonts/metabold-italic-webfont.woff') format('woff'),
       url('../fonts/metabold-italic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}



/* --- Global definitions --- */
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Meta', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #445;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}
::selection {
  background-color: rgba(0, 51, 85, 0.75);
  color: #fff;
}
a {
  color: #34c2d8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2ba0b3;
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
}
hr {
  border-bottom: 1px solid #ccc;
}
h2 {
  font-weight: normal;
}
h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #999;
  color: rgba(0, 0, 0, .4);
  font-weight: 300;
}
p {
  font-size: 1em;
  line-height: 1.8em;
}
p.meta {
  color: #99a;
}
p.meta a {
  color: #99a;
}
p.meta a:hover, p.meta a:focus {
  border-bottom: 1px solid #99a;
}



/* --- Utility classes --- */
.u-alignleft {
  text-align: left;
}
.u-aligncenter {
  text-align: center;
}
.u-alignright {
  text-align: right;
}
.u-floatleft {
  display: inline-block;
  float: left;
}
.u-floatright {
  display: inline-block;
  float: right;
}
.u-mt5 {
  margin-top: 5px;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mt30 {
  margin-top: 30px;
}
.u-mt40 {
  margin-top: 40px;
}
.u-mt50 {
  margin-top: 50px;
}
.u-mt60 {
  margin-top: 60px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb30 {
  margin-bottom: 30px;
}
.u-mb40 {
  margin-bottom: 40px;
}
.u-mb50 {
  margin-bottom: 50px;
}
.u-mb60 {
  margin-bottom: 60px;
}
.u-ml5 {
  margin-left: 5px;
}
.u-ml10 {
  margin-left: 10px;
}
.u-ml20 {
  margin-left: 20px;
}
.u-ml30 {
  margin-left: 30px;
}
.u-ml40 {
  margin-left: 40px;
}
.u-ml50 {
  margin-left: 50px;
}
.u-ml60 {
  margin-left: 60px;
}
.u-mr5 {
  margin-right: 5px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-mr30 {
  margin-right: 30px;
}
.u-mr40 {
  margin-right: 40px;
}
.u-mr50 {
  margin-right: 50px;
}
.u-mr60 {
  margin-right: 60px;
}
.u-mv5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.u-mv10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.u-mv20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.u-mv30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.u-mv40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.u-mv50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.u-mv60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.u-pt5 {
  padding-top: 5px;
}
.u-pt10 {
  padding-top: 10px;
}
.u-pt20 {
  padding-top: 20px;
}
.u-pt30 {
  padding-top: 30px;
}
.u-pt40 {
  padding-top: 40px;
}
.u-pt50 {
  padding-top: 50px;
}
.u-pt60 {
  padding-top: 60px;
}
.u-pv10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.u-pv20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.u-pv30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.u-pv40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.u-pv50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.u-pv60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.u-ph10 {
  padding-left: 10px;
  padding-right: 10px;
}
.u-ph20 {
  padding-left: 20px;
  padding-right: 20px;
}
.u-ph30 {
  padding-left: 30px;
  padding-right: 30px;
}
.u-ph40 {
  padding-left: 40px;
  padding-right: 40px;
}
.u-ph50 {
  padding-left: 50px;
  padding-right: 50px;
}
.u-ph60 {
  padding-left: 60px;
  padding-right: 60px;
}



/* --- Icons (extends Ionicons) --- */
.ion-15x {
  font-size: 1.5em;
}
.ion-2x {
  font-size: 2em;
}
.ion-3x {
  font-size: 3em;
}
.ion-4x {
  font-size: 4em;
}



/* --- Colour classes --- */
.c-white {
  color: #fff;
}
.c-lightgray {
  color: #ccc;
}




/* --- Buttons --- */
.btn {
  display: inline-block;
  padding: 10px 20px;
  line-height: 20px;
  font-size: 1em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn.btn-lg {
  padding: 15px 30px;
  font-size: 1.2em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.btn-sm {
  padding: 5px 10px;
  font-size: 0.8em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn.btn-outline {
  background-color: transparent;
  border: 1px solid #34c2d8;
  color: #34c2d8;
}
.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background-color: #34c2d8;
  color: #fff;
}
.btn-circle {
  width: 42px;
  height: 42px;
  padding: 10px;
  line-height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}



/* --- background and colour classes --- */
.bg-darkBlue {
  background-color: #446c87;
  color: #eee;
}



/* --- Layout --- */
.row {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.row.row-full {
  max-width: 100%;
}
.row.row-nopadding > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
main {
  background-color: #eee;
}
section {
  padding: 50px 0;
  background-position: 50% 0;
  background-size: cover;
} 
section.slide {
  min-height: 90vh;
}



/* --- Header --- */
header {
  line-height: 100px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}
header h6 {
  font-size: 0.8em;
  line-height: inherit;
  color: #ccc;
  font-weight: normal;
  text-transform: uppercase;
}
.home header {
  padding-top: 55px;
  padding-bottom: 55px;
}



/* --- Menu --- */
.menu li {
  list-style: none;
  display: inline-block;
  margin-left: -0.26em;
}
.menu li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  color: #9eafba;
  font-size: 0.9em;
  border-bottom: 2px solid transparent;
}
.menu li:last-child a {
  padding-right: 0;
}
.menu li a:hover,
.menu li a:focus {
  color: #035;
  border-bottom-color: #035;
}
.menu a.active {
  border-bottom-color: #9eafba;
}


/* --- Logo --- */
#logo {
  position: fixed;
  top: -30px;
  left: 50%;
  width: 150px;
  height: 150px;
  margin-left: -75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;z-index: 3;
  line-height: 150px;
  text-align: center;
  font-size: 28px;
  color: #035;
  font-weight: 300;
  letter-spacing: -0.02em;
}
#logo:hover,
#logo:focus {
  color: #34c2d8;
}
#logo b {
  font-weight: 500;
}
#logo #logo-svg {
  position: absolute;
  top: 0;
  left: 0;
}
#logo .logo-svg-path {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
}
#logo:hover .logo-svg-path,
#logo:focus .logo-svg-path {
  stroke: #34c2d8;
}
#logo.animated .logo-svg-path {
  -webkit-animation: dash 2s ease-in-out;
  animation: dash 2s ease-in-out;
}
@keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}
@-webkit-keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}
.home #logo { 
  top: 30px; 
}



/* --- Page: Home --- */
.home big {
  font-size: 1.55em;
}



/* --- Page: Work --- */
.featured {
  padding: 0;
}
.featured-project {
  position: relative;
  display: block;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, .1);
  background-blend-mode: saturation;
}
.featured-project .text {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding-top: 90px;
  background-color: rgba(0, 51, 85, 0.5);
  text-align: center;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.2s cubic-bezier(1,0,0,1);
  -moz-transition: all 0.2s cubic-bezier(1,0,0,1);
  transition: all 0.2s cubic-bezier(1,0,0,1);
}
.featured-project:hover .text,
.featured-project:focus .text {
  padding-top: 160px;
  background-color: rgba(0, 51, 85, 0.05);
}
.filter-container {
  display: inline-block;
  color: #ccc;
}
.filter-container:hover, 
.filter-container:focus {
  color: #999;
}
#project_filter {
  display: inline-block;
  margin-right: 10px;
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#project_filter:focus {
  outline: none;
}
.filter-container:after {
  content: '\f3d0';
  float: right;
  font-family: 'Ionicons';
}



/* --- Page: Project --- */
section.cta {
  background-color: #888;
  color: #fff;
}
section.cta:hover {
  background-color: #777;
}
section.cta em {
  opacity: 0.75;
}



/* --- Footer --- */
footer {
  padding: 50px 0;
  background-color: #666;
  color: #ccc;
}
