.bubble {
  position: relative;
  display: inline-block;
  min-width: 3rem;
  min-height: 2rem;
  padding: 0 1rem;
  background-color: $blue;
  @include prefix(border-radius, 1rem);
  @include prefix(box-shadow, 0 0 1rem rgba($black, 0.1));
  color: $white;
  line-height: 1rem;

  @include prefix(transform, translateY(3rem));
  @include prefix(transition, all 0.3s ease-in-out);

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: calc(100% - 1rem);
    border: 0.75rem solid transparent;
    border-right-color: $blue;
    border-bottom-color: $blue;
  }
  &.bubble--white {
    padding: 1rem;
    width: 100%;
    background-color: $white;
    color: $bluedark;

    &:before {
      right: auto;
      left: calc(100% - 1rem);
      border-right-color: transparent;
      border-left-color: $white;
      border-bottom-color: $white;
    }
  }
  
  .bubble__loader {
    position: absolute;
    opacity: 1;
    max-width: 5rem;
    max-height: 5rem;
    padding: 0.5rem 0;
    @include prefix(transition, all 0.5s ease-in-out);
    @include prefix(transition-delay, 0.5s);
  }
  .bubble__content {
    padding: 0.5rem 0;
    max-width: 0;
    max-height: 0;
    @include prefix(transition, all 1s ease-in-out);
    @include prefix(transition-delay, 0.5s);
    overflow: hidden;
  }

  textarea {
    min-height: 4rem;
  }
  .field {
    width: 100%;
    min-width: 12rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: none;
    // border-bottom: 0.125rem solid rgba($bluedark, 0.5);
    background: $greylighter;
    color: $bluedark;
    @include prefix(border-radius, 0.25rem);
    font: inherit;
    resize: none;
  }
  .field:hover {
    border-bottom-color: rgba($bluedark, 0.7);
  }
  .field:focus {
    outline: none;
    border-bottom-color: $bluedark;
  }
}