// Button
.button {
  @include prefix(appearance, none);
  display: inline-block;
  padding: 0.25rem 1rem 0.5rem;
  border: 1px solid transparent;
  @include prefix(border-radius, 1.5rem);
  line-height: 2rem;
  font: inherit;
  background-color: $blue;
  color: $white;

  &:hover {
    background-color: darken($blue, 15%);
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
    @include prefix(box-shadow, 0 0 1rem rgba($blue, 0.5));
  }
  &.button--small {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
    @include prefix(border-radius, 1.25rem);
  }
  &.button--dark {
    background-color: $bluedark;
  }
  &.button--dark:hover {
    background-color: darken($bluedark, 5%);
  }
  &.button--outline {
    background: none;
    border-color: blue;
    color: $blue;
  }
  &.button--outline:hover {
    background: $blue;
    color: $white;
  }
  &.button--outline.button-dark {
    border-color: $bluedark;
    color: $bluedark;
  }
  &.button--outline.button-dark:hover {
    background-color: $bluedark;
    color: $white;
  }
}
