.logo {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 3;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  @include prefix(border-radius, 50%);
  @include prefix(transition, all 1s ease-in-out);
  @include prefix(transform-origin, top left);
  @include prefix(transition-delay, 1s);
  @include prefix(transform, scale3d(1, 1, 1));
  
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .logo-svg-path {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
  }

  &.animated {
    @include prefix(transform, scale3d(0.125, 0.125, 0.125));
    background-color: $blue;
  }
  &.animated .logo-svg-path {
    @include prefix(animation, dash 2s cubic-bezier(.25,0,.25,1));
  }
  &:hover {
    @include prefix(transform, scale3d(0.6, 0.6, 0.6));
    background-color: transparent;
  }
}
@-webkit-keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}
@-moz-keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}
@keyframes dash {
  from { stroke-dashoffset: 500; }
    to { stroke-dashoffset:   0; }
}







// /* --- Logo --- */
// #logo {
//   width: 150px;
//   height: 150px;
//   margin-left: -75px;
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   border-radius: 50%;
//   z-index: 3;
//   line-height: 150px;
//   text-align: center;
//   font-size: 28px;
//   color: #035;
//   font-weight: 300;
//   letter-spacing: -0.02em;
//   -webkit-transition: -webkit-transform 1s ease-in-out;
//   -moz-transition: -moz-transform 1s ease-in-out;
//   transition: transform 1s ease-in-out;
// }
// #logo:hover,
// #logo:focus {
//   color: #00f;
// }
// #logo b {
//   font-weight: 500;
// }
// #logo #logo-svg {
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// #logo .logo-svg-path {
//   stroke-dasharray: 500;
//   stroke-dashoffset: 0;
// }
// #logo:hover .logo-svg-path,
// #logo:focus .logo-svg-path {
//   stroke: #00f;
// }
// #logo:hover g path,
// #logo:focus g path {
//   fill: #00f;
// }
// #logo.animated .logo-svg-path {
//   -webkit-animation: dash 2s ease-in-out;
//   -moz-animation: dash 2s ease-in-out;
//   animation: dash 2s ease-in-out;
// }
// @-webkit-keyframes dash {
//   from { stroke-dashoffset: 500; }
//     to { stroke-dashoffset:   0; }
// }
// @-moz-keyframes dash {
//   from { stroke-dashoffset: 500; }
//     to { stroke-dashoffset:   0; }
// }
// @keyframes dash {
//   from { stroke-dashoffset: 500; }
//     to { stroke-dashoffset:   0; }
// }
// .home #logo { 
//   top: 30px; 
// }
// @media screen and (max-width: 767px) {
//   #logo {
//     left: 105px;
//   }
// }