@mixin prefix($property, $arguments) {
  -webkit-#{$property}: $arguments;
  -moz-#{$property}: $arguments;
  #{$property}: $arguments;
}

// Vertical Gradient
@mixin vertical-gradient($start: #000000, $end: #ffffff) {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$start+0,f1f1f4+50,f1f1f4+100
  background: -moz-linear-gradient(top, $start 0%, $end 100%); // FF3.6-15
  background: -webkit-linear-gradient(top, $start 0%, $end 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(to bottom, $start 0%, $end 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); // IE6-9
}

// Keyframes
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} { @content; }
  @-moz-keyframes #{$animationName} { @content; }
  @-o-keyframes #{$animationName} { @content; }
  @keyframes #{$animationName} { @content; }
}
