// Section
$sectionpadding: 2rem;

section {
  position: relative;
  padding: 0 $sectionpadding/2; // site-wide horizontal padding
  max-height: auto;
  overflow: hidden;
  @include prefix(transition, max-height 0.5s ease-in-out);

  background-size: cover;
  background-position: center center;

  @media screen and (min-width: 768px) {
    padding: 0 $sectionpadding; // site-wide horizontal padding
  }

  * {
    z-index: 1;
  }
  .section__bg-image {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 0;
    display: block;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.section--homeintro .section__bg-image {
    background-size: cover;
    background-position: right top;

    @media screen and (max-width: $vp_tablet - 1) {
      // background-size: auto 400px;
      background-position: 40% top;
    }
  }
  &.section--bg .section__bg-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;

    @media screen and (max-width: $vp_tablet - 1) {
      background-size: auto 400px;
      background-position: -20% bottom;
    }
  }
  &.section--bg2 .section__bg-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;

    @media screen and (max-width: $vp_tablet - 1) {
      background-position: 60%;
    }
  }
  &.section--homeintro {
    min-height: 100vh;
    @include prefix(transition, all 2s cubic-bezier(0.5,0,0.5,1));
    @include prefix(transition-delay, 1s);
  }
  &.section--stream_of_words,
  &.section--stream_of_images {
    max-height: 100vh;
  }
  &.section--collapsed {
    max-height: 8.5rem;
  }
  .owl-carousel.card-container {
    margin-right: -#{$sectionpadding};
    width: calc(100% + #{$sectionpadding});
  }
}
.isLoaded section.section--homeintro {
  min-height: 50vh;
}
.section-undo-p {
  width: calc(100% + #{$sectionpadding * 2});
  margin-left: -#{$sectionpadding};
  margin-right: -#{$sectionpadding};
}

.section--bg-bottom-right {
  background-size: 80vw;
  background-position: bottom right;

  @media screen and (min-width: 768px) {
    background-size: 80vw;
    background-position: bottom right;
  }
}

.section--projects {
  padding-top: $sectionpadding/2;
  padding-bottom: $sectionpadding/2;

  @media screen and (min-width: 768px) {
    padding-top: $sectionpadding;
    padding-bottom: $sectionpadding;
  }
}

.section--next-project {
  background: $blue;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $white;

  .section__header * {
    margin-bottom: 1rem;
    font-size: 2rem;
    opacity: 0.3;
  }

  figure {
    border-radius: 0.5rem;
    overflow: hidden;

    img { display: block; }
  }
}
